/* this should not be changed */

:root {
  /* for material */
  --md-primary-fg-color: #192f60;
  --md-primary-bg-color: #ffffff;
  --md-text-font: YakuHanJPs, "Segoe UI", Arial, Meiryo, sans-serif;
  --md-code-font: Consolas, Menlo, "courier new", monospace;

  /* for this theme */
  --crz33-font-weight: 400;
  --crz33-link-color: #0645ad;
}

/* site */
html {
  overflow-y: scroll;
  font-weight: var(--crz33-font-weight);
}

.md-header {
  background-color: var(--md-primary-bg-color);
  color: var(--md-primary-fg-color);
}

main.md-main {
  a:link {
    color: var(--crz33-link-color);
  }

  a:visited {
    color: var(--crz33-link-color);
  }

  a:hover {
    color: var(--crz33-link-color);
  }

  a:active {
    color: var(--crz33-link-color);
  }

  a:hover {
    text-decoration: underline;
  }
}

/* typeset */
div.md-content article.md-typeset {
  /* title */
  h1 {
    font-weight: bold;
    color: var(--md-primary-fg-color);
  }

  /* h2 */
  h2 {
    margin-top: 4em;
    font-weight: bold;
    color: var(--md-primary-fg-color);
    border-bottom: 2px solid var(--md-primary-fg-color);
  }

  h2::before {
    content: "# ";
  }

  /* h3 */
  h3 {
    margin-top: 3em;
    font-weight: bold;
    color: var(--md-primary-fg-color);
  }

  h3::before {
    content: "## ";
  }

  /* admonition */
  .admonition {
    font-size: 1em;
  }
}

/* posts */
article.md-post--excerpt {
  margin-bottom: 1em;
}

/* cardlink */
div.crz33-cardlink {
  position: relative;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);

  :hover {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.2s;
  }

  > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none !important;
  }

  > div.label {
    position: absolute;
    background-color: var(--crz33-link-color);
    color: var(--md-primary-bg-color);
    font-size: 0.7em;
    padding: 2px 10px;
    top: -0.8em;
    left: -0.5em;
    z-index: 1;
  }

  > div.body {
    > div.header {
      margin-left: 0.8em;
      margin-top: auto;
      margin-bottom: auto;
      padding: 0.8em 0 0.8em 0;

      h1,
      span.title {
        display: block;
        font-size: large;
        font-weight: bold;
        color: var(--crz33-link-color);
        margin-bottom: 0.3em;
      }
      time {
        color: var(--md-default-fg-color--light);
        font-size: 1em;
        margin-right: 1em;
      }
      span.categories {
        color: var(--md-default-fg-color--light);
        font-size: 1em;
      }
    }

    > div.thumbnail {
      display: flex;
      img {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }

  > div.body.has_cover {
    display: grid;
    grid-template-columns: 21% auto;
    grid-gap: 1em 1em;

    @media (max-width: 960px) {
      grid-template-columns: 30% auto;
    }

    @media (max-width: 640px) {
      grid-template-columns: 40% auto;
    }
  }
}
